{% extends "layout.html" %}

{% block title %}
    Your Account Settings
{% endblock %}

{% block main %}
    <br><br><h2><span class="forceredtext">About Radio-Friendly</span></h2><br>
    <p><span class="highlight">Radio-Friendly</span> is my final project for the CS50 Introduction to Computer Programming course.</p>
    <p>Firstly, my choice was doing something related with the Rate Your Music charts. However, as they don't let their API available to users, I found out making a tool for Last.fm would be less stressful.</p>
    <p>The features are simple and straightforward: Let users search for quick charts by just inserting a valid Last.fm username.</p>
    <p>For those unfamiliar with Last.fm, it let users track all the artists and music you play in all platforms and devices. Then the service creates charts for Weekly Top Songs Played, Overall Top Artists and so on.</p>
    <p>Since I'm only 3 months into programming, that's my limit in terms of knowledge and features I can pull out for this web application, but I will be updating and adding more features here, such as a Manual Scrobbling feature, for example, as I delve more into other languages.</p>
    <p>Thank you for your time and make sure to leave your feedback.</p><br>
    <p>Happy Scrobbling!</p>



{% endblock %}
