{% extends "layout.html" %}

{% block title %}
    Change Your Password
{% endblock %}

{% block main %}
    <br><br><h2>Change Your Password</h2><br>

    <form action="/change_password" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Your New Password" type="password">
        </div>
        <button class="btn btn-dark" type="button" onclick="location.href='/account_settings'">Cancel</button>
        <button class="btn btn-dark" type="submit">Save Settings</button>
    </form>
{% endblock %}

